version: '3.8'

services:
  storybook:
    build:
      context: .
      dockerfile: Dockerfile.storybook
    ports:
      - "6006:80"
    restart: unless-stopped
    container_name: patient-records-storybook
